apiVersion: v1
kind: Service
metadata:
  name: auth-proxy
  namespace: auth-proxy
  labels:
    app: auth-proxy
spec:
  type: ClusterIP
  selector:
    app: auth-proxy
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
